.topright {
    position: absolute;
    top: 70px;
    right: 16px;
    font-size: 35px;
  }

.crimson {
    background-color: crimson;
  }

  .centered
{
    text-align: center;
}

input {
  border: 60px solid black groove;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 20px;
  margin-left: 20px;
  background-color: white;
  size: 200px;
}

h5 {
  right: -1px;
  border: 1px solid black groove;
  font-style: italic;
}
